<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Search</title>
</head>
<body>
    <h1 text-align:center>Medicine Composition Search</h1>
    <form action="/search" method="POST">
        <label for="composition">Enter the composition of the medicine (if more than one compositions separated by comma):</label><br>
        <input type="text" id="composition" name="composition"><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>